body{
	height: 100%;
	width: 100%;
}


/*

NAV

*/

nav.main{
	background: rgba(0,0,0,.8);
	position: fixed;
	top: 0; 
	left: 0;
	bottom: 0;
}
@media(max-width: 768px){
	nav.main{
		position: relative;
		width: 100%;
	}
}
nav.main > ul{
	border-bottom: 1px solid #fff;
	padding:65px 0;
}
@media(max-width: 768px){
	nav.main > ul{
		padding: 20px 0;
		border: 0;
	}
}
.nav>li>a{
	color: #ccc;
}
.nav>li>a:hover, .nav>li>a:focus{
	background-color: black;
}

/*

ARTICLE 

*/
article {
	/*background: rgba(255,255,255,.5);*/
}
/*.no-rgba article.main{ // No RGBA, no problem!
	background: red;
}*/
.transparency {
	background: rgba(255,255,255,.7);
	min-height: 50%;
	vertical-align: middle;
	padding: 20px;
}

.custom-size {
	min-width: 58.3%;
}
#black {
background: rgba(0,0,0,.5);
color: white;
 }


/*
tansparency
*/

/*.vertical-align {
	margin-top: 90px;
}
/*

CAROUSEL

*/
.carousel .item img{
	width: 100%;
	height: auto;
}
#background-image{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom: 0;
	height: 100%;
}
#background-image.landing_page{
	background: url(../images/turn_table.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; /*Opera 10+supported*/
        background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}
#background-image.bio{
	background-color: pink;
}
#background-image.events{
	   background: url(../images/blue_lights.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; /*Opera 10+supported*/
        background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}
#background-image.demo{
	background: url(../images/concert_hands.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; /*Opera 10+supported*/
        background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}
#background-image.gallery{
	background: url(../images/tufted_texture.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; /*Opera 10+supported*/
        background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}
#background-image.contact{
	background: url(../images/velvety_red.jpg) no-repeat center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover; /*Opera 10+supported*/
        background-size: cover; /*Firefox 4 supports non-vendor prefixed version*/
}
